/.gradle
/.idea
/build
devserver/auth.enc
/devserver/logs
/src/.idea
/devserver/universe/.cache
/devserver/universe/assetEditor
/devserver/universe/players
#/devserver
/devserver/.cache
/devserver/universe/worlds/default
/devserver/universe/players
/devserver/universe/players
/hytale-server
src.zip
src(with moving spikes still before CAE).zip
src(before CAE with Gemini).zip
